/week5/SimpleUnitTests/dist/
/week5/GenericSimpleUnitTests/build/
/week5/GenericSimpleUnitTests/nbproject/private/
/week5/GenericSimpleUnitTests/dist/
/week5/CaesarBean/target/
/week5/CaesarBean2/target/
/week5/CaesarBean
/week5/CaesarCipher

