/week5/SimpleUnitTests/dist/
/week5/GenericSimpleUnitTests/build/
/week5/GenericSimpleUnitTests/nbproject/private/
/week5/GenericSimpleUnitTests/dist/
/week5/CaesarBean/target/
/week5/CaesarBean2/target/
/week5/CaesarCipher

/ShoppingWebsite_v1/nbproject/
/ShoppingWebsite_v1/target/
/ShoppingWebsite_w4/nbproject/
/ShoppingWebsite_w4/target/
/2020/ShoppingWebsite_w4/nbproject/
/2020/ShoppingWebsite_w4/target/
/2020/ShoppingWebsite_v1/target/
